body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  position: sticky;
  border-bottom: 4px solid rgb(185, 231, 227);

  & img {
    width: 200px;
    padding: 10px;
    padding-left: 30px;
  }

  & .menu-navegacion {
    padding: 5%;
    & a {
      text-decoration: none;
      color: rgb(31, 31, 31);
      padding: 12px;
      transition: 0.3s;
      margin: 2px;
    }

    & a:hover {
      color: rgb(22, 218, 191);
      transition: 0.3s;
      border-bottom: 4px solid rgb(22, 218, 191);
    }
  }
}

.pagina-principal {
  height: 93vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: url(https://images.unsplash.com/photo-1581922819941-6ab31ab79afc?q=80&w=3880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(230, 235, 240);
  background-blend-mode: overlay;

  box-shadow: 1px -1px 26px 1px rgba(0, 0, 0, 0.75) inset;

  & h1 {
    font-size: 3rem;
    color: rgb(70, 125, 134);
    margin: 0;
  }

  & h3 {
    font-size: 1rem;
    color: rgb(15, 92, 104);
  }

  & a {
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-style: solid;
    border-color: rgb(15, 92, 104);
    border-width: 1px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(15, 92, 104);
    transition: 200ms;
  }

  & a:hover {
    box-shadow: 2px 2px 0px 1px rgb(15, 92, 104);
    transform: translateY(-3px) translateX(-3px);
    transition: 200ms;
  }
}

h2 {
  text-align: center;
  background-color: rgb(15, 92, 104);
  color: rgb(239, 240, 241);
  margin: 0;
  padding: 15px;
  border: solid;
  border-width: 5px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.contenedor-aplicaciones {
  background: url(https://images.unsplash.com/photo-1581922819941-6ab31ab79afc?q=80&w=3880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(230, 235, 240);
  background-blend-mode: overlay;
  box-shadow: 1px -1px 26px 1px rgba(0, 0, 0, 0.75) inset;
  padding: 5%;

  & .aplicacion {
    background-color: rgb(241, 241, 241);
    padding: 3%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(15, 92, 104);
    margin-bottom: 5%;

    border-radius: 15px;

    box-shadow: 7px 7px 1px 1px rgb(15, 92, 104);

    display: flex;
    align-items: center;
  }
}

.contenedor-ejemplos {
  background: url(https://images.unsplash.com/photo-1581922819941-6ab31ab79afc?q=80&w=3880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-color: rgb(230, 235, 240);
  background-blend-mode: overlay;
  box-shadow: 1px -1px 26px 1px rgba(0, 0, 0, 0.75) inset;
  padding: 5%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  & #ejemplo1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  & #ejemplo2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  & #ejemplo3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  & .ejemplo {
    background-color: rgb(241, 241, 241);
    padding: 8%;
    border-radius: 15px;
    margin: 5%;

    background-color: rgb(241, 241, 241);
    padding: 3%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(15, 92, 104);

    box-shadow: 7px 7px 1px 1px rgb(15, 92, 104);

    display: flex;
    flex-direction: column;

    & img {
      width: 100%;
    }

    & a {
      padding: 10px;
      background-color: rgb(238, 238, 238);
      border-style: solid;
      border-color: rgb(15, 92, 104);
      border-width: 1px;
      border-radius: 15px;
      text-decoration: none;
      color: rgb(15, 92, 104);
      transition: 200ms;
    }

    & a:hover {
      box-shadow: 2px 2px 0px 1px rgb(15, 92, 104);
      transform: translateY(-3px) translateX(-3px);
      transition: 200ms;
    }
  }
}
